* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.send-button {
  padding: 10px 20px;
  background-color: #a0c49d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-block: 10%;
}
